<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1250">
    <style type="text/css">
      #header{ font-size:20px;
          font-family: Tahoma,Arial;
	        color:#000000;
	        font-weight:bold;
      }

      body {color:#55759b;
         font-family: Tahoma,Arial;
      }
    </style>
      <script type="text/javascript">
          function ga_value_as_tooltip(counter, key, codeValue, dateValue, doubleValue, intValue, measuredValue, stringValue, uriValue) {
              document.write("<span title=\"");
              if (codeValue) {
                  document.write(codeValue);
              } else if (dateValue) {
                  document.write(dateValue);
              } else if (doubleValue) {
                  document.write(doubleValue);
              } else if (intValue) {
                  document.write(intValue);
              } else if (measuredValue) {
                  document.write(measuredValue);
              } else if (stringValue) {
                  document.write(stringValue);
              } else if (uriValue) {
                  document.write(uriValue);
              } else {
                  document.write("unknown");
              }

              document.write("\">" + key + "</span>");

              if (counter < <3DCityDB>UR_KEYVALUEPAIR_1/[COUNT]KEY</3DCityDB>)
              {
                  document.write(", ");
              }
          }
      </script>
  <title><3DCityDB>CITYOBJECT/GMLID</3DCityDB></title>
  </head>
  <body>
    <table width=492>
      <tr><td valign=bottom><span id="header">Building Attributes</span></td>
          <td align=right valign=bottom><img src="http://www.3dcitydb.net/3dcitydb/fileadmin/3dcitydb/demodata/Logos/3dcitydb_logo.png"></td>
      </tr>
    </table>
    <hr style="color:#000000;">
    <table width=500>
        <tr><td>class: <b><3DCityDB>BUILDING/CLASS</3DCityDB></b>,</td></tr>
        <tr><td>function: <b><3DCityDB>BUILDING/FUNCTION</3DCityDB></b>.</tr></td>
        <tr><td>usage: <b><3DCityDB>BUILDING/USAGE</3DCityDB></b></tr></td>
        <tr><td>yearOfConstruction: <b><3DCityDB>BUILDING/YEAR_OF_CONSTRUCTION</3DCityDB></b></tr></td>
        <tr><td>storeysAboveGround: <b><3DCityDB>BUILDING/STOREYS_ABOVE_GROUND</3DCityDB></b>.</tr></td>
        <tr><td>storeysBelowGround: <b><3DCityDB>BUILDING/STOREYS_BELOW_GROUND</3DCityDB></b>.</tr></td>
        <tr><td>serialNumberOfBuildingCertification: <b><3DCityDB>UR_BUILDINGDETAILS/SERIALNUMBEROFBUILDINGCERTIF</3DCityDB></b>.</tr></td>
        <tr><td>siteArea: <b><3DCityDB>UR_BUILDINGDETAILS/SITEAREA</3DCityDB></b>.</tr></td>
        <tr><td>siteArea_uom: <b><3DCityDB>UR_BUILDINGDETAILS/SITEAREA_UOM</3DCityDB></b>.</tr></td>
        <tr><td>buildingFootprintArea: <b><3DCityDB>UR_BUILDINGDETAILS/BUILDINGFOOTPRINTAREA</3DCityDB></b>.</tr></td>
        <tr><td>buildingFootprintArea_uom: <b><3DCityDB>UR_BUILDINGDETAILS/BUILDINGFOOTPRINTAREA_UOM</3DCityDB></b>.</tr></td>
        <tr><td>buildingRoofEdgeArea: <b><3DCityDB>UR_BUILDINGDETAILS/BUILDINGROOFEDGEAREA</3DCityDB></b>.</tr></td>
        <tr><td>buildingRoofEdgeArea_uom: <b><3DCityDB>UR_BUILDINGDETAILS/BUILDINGROOFEDGEAREA_UOM</3DCityDB></b>.</tr></td>
        <tr><td>developmentArea: <b><3DCityDB>UR_BUILDINGDETAILS/DEVELOPMENTAREA</3DCityDB></b>.</tr></td>
        <tr><td>developmentArea_uom: <b><3DCityDB>UR_BUILDINGDETAILS/DEVELOPMENTAREA_UOM</3DCityDB></b>.</tr></td>
        <tr><td>buildingStructureType: <b><3DCityDB>UR_BUILDINGDETAILS/BUILDINGSTRUCTURETYPE</3DCityDB></b>.</tr></td>
        <tr><td>buildingStructureType_codeSpace: <b><3DCityDB>UR_BUILDINGDETAILS/BUILDINGSTRUCTURET_CODESPACE</3DCityDB></b>.</tr></td>
        <tr><td>fireproofStructureType: <b><3DCityDB>UR_BUILDINGDETAILS/FIREPROOFSTRUCTURETYPE</3DCityDB></b>.</tr></td>
        <tr><td>fireproofStructureType_codeSpace: <b><3DCityDB>UR_BUILDINGDETAILS/FIREPROOFSTRUCTURE_CODESPACE</3DCityDB></b>.</tr></td>
        <tr><td>implementingBody: <b><3DCityDB>UR_BUILDINGDETAILS/IMPLEMENTINGBODY</3DCityDB></b>.</tr></td>
        <tr><td>urbanPlanType: <b><3DCityDB>UR_BUILDINGDETAILS/URBANPLANTYPE</3DCityDB></b>.</tr></td>
        <tr><td>urbanPlanType_codeSpace: <b><3DCityDB>UR_BUILDINGDETAILS/URBANPLANTYPE_CODESPACE</3DCityDB></b>.</tr></td>
        <tr><td>districtsAndZonesType: <b><3DCityDB>UR_BUILDINGDETAILS/DISTRICTSANDZONESTYPE</3DCityDB></b>.</tr></td>
        <tr><td>districtsAndZonesType_codeSpace: <b><3DCityDB>UR_BUILDINGDETAILS/DISTRICTSANDZONEST_CODESPACE</3DCityDB></b>.</tr></td>
        <tr><td>landUsePlanType: <b><3DCityDB>UR_BUILDINGDETAILS/LANDUSEPLANTYPE</3DCityDB></b>.</tr></td>
        <tr><td>landUsePlanType_codeSpace: <b><3DCityDB>UR_BUILDINGDETAILS/LANDUSEPLANTYPE_CODESPACE</3DCityDB></b>.</tr></td>
        <tr><td>areaClassificationType: <b><3DCityDB>UR_BUILDINGDETAILS/AREACLASSIFICATIONTYPE</3DCityDB></b>.</tr></td>
        <tr><td>areaClassificationType_codeSpace: <b><3DCityDB>UR_BUILDINGDETAILS/AREACLASSIFICATION_CODESPACE</3DCityDB></b>.</tr></td>
        <tr><td>prefecture: <b><3DCityDB>UR_BUILDINGDETAILS/PREFECTURE</3DCityDB></b>.</tr></td>
        <tr><td>prefecture_codeSpace: <b><3DCityDB>UR_BUILDINGDETAILS/PREFECTURE_CODESPACE</3DCityDB></b>.</tr></td>
        <tr><td>city: <b><3DCityDB>UR_BUILDINGDETAILS/CITY</3DCityDB></b>.</tr></td>
        <tr><td>city_codeSpace: <b><3DCityDB>UR_BUILDINGDETAILS/CITY_CODESPACE</3DCityDB></b>.</tr></td>
        <tr><td>reference: <b><3DCityDB>UR_BUILDINGDETAILS/REFERENCE</3DCityDB></b>.</tr></td>
        <tr><td>note: <b><3DCityDB>UR_BUILDINGDETAILS/NOTE</3DCityDB></b>.</tr></td>
        <tr><td>keyValuePairs (mouseOver for values): <b>
            <script type="text/javascript">
                <3DCityDB>FOREACH UR_KEYVALUEPAIR_1/KEY, CODEVALUE, DATEVALUE, DOUBLEVALUE, INTVALUE, MEASUREDVALUE, STRINGVALUE, URIVALUE</3DCityDB>
                ga_value_as_tooltip("%0", "%1", "%2", "%3", "%4", "%5", "%6", "%7", "%8");
                <3DCityDB>END FOREACH</3DCityDB>
            </script>
        </b>
        </td></tr>
	</table>
  </body>
</html>
