<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1250">
    <style type="text/css">
      #header{ font-size:20px;
          font-family: Tahoma,Arial;
	        color:#000000;
	        font-weight:bold;
      }

      body {color:#55759b;
         font-family: Tahoma,Arial;
      }
    </style>
  <title><3DCityDB>CITYOBJECT/GMLID</3DCityDB></title>
  </head>
  <body>
    <table width=492>
      <tr><td valign=bottom><span id="header">Population Attributes</span></td>
          <td align=right valign=bottom><img src="http://www.3dcitydb.net/3dcitydb/fileadmin/3dcitydb/demodata/Logos/3dcitydb_logo.png"></td>
      </tr>
    </table>
    <hr style="color:#000000;">
    <table width=500>
        <tr><td>description: <b><3DCityDB>CITYOBJECT/DESCRIPTION</3DCityDB></b>,</td></tr>
        <tr><td>name: <b><3DCityDB>CITYOBJECT/NAME</3DCityDB></b>.</tr></td>
        <tr><td>urbanPlanType: <b><3DCityDB>UR_STATISTICALGRID/urbanplantype</3DCityDB></b>.</tr></td>
        <tr><td>areaClassificationType: <b><3DCityDB>UR_STATISTICALGRID/AREACLASSIFICATIONTYPE</3DCityDB></b></tr></td>
        <tr><td>prefecture: <b><3DCityDB>UR_STATISTICALGRID/PREFECTURE</3DCityDB></b></tr></td>
        <tr><td>city: <b><3DCityDB>UR_STATISTICALGRID/CITY</3DCityDB></b>.</tr></td>
        <tr><td>surveyYear: <b><3DCityDB>UR_STATISTICALGRID/SURVEYYEAR</3DCityDB></b>.</tr></td>
        <tr><td>total: <b><3DCityDB>UR_POPULATION/TOTAL</3DCityDB></b>.</tr></td>
        <tr><td>daytimePopulation: <b><3DCityDB>UR_POPULATION/DAYTIMEPOPULATION</3DCityDB></b>.</tr></td>
        <tr><td>naturalIncrease: <b><3DCityDB>UR_POPULATION/NATURALINCREASE</3DCityDB></b>.</tr></td>
        <tr><td>births: <b><3DCityDB>UR_POPULATION/BIRTHS</3DCityDB></b>.</tr></td>
        <tr><td>deaths: <b><3DCityDB>UR_POPULATION/DEATHS</3DCityDB></b>.</tr></td>
        <tr><td>socialIncrease: <b><3DCityDB>UR_POPULATION/SOCIALINCREASE</3DCityDB></b>.</tr></td>
        <tr><td>moveFrom: <b><3DCityDB>UR_POPULATION/MOVEFROM</3DCityDB></b>.</tr></td>
        <tr><td>moveTo: <b><3DCityDB>UR_POPULATION/MOVETO</3DCityDB></b>.</tr></td>
        <tr><td>increasement: <b><3DCityDB>UR_POPULATION/INCREASEMENT</3DCityDB></b>.</tr></td>
        <tr><td>malePopulation: <b><3DCityDB>UR_POPULATION/MALEPOPULATION</3DCityDB></b>.</tr></td>
        <tr><td>femalePopulation: <b><3DCityDB>UR_POPULATION/FEMALEPOPULATION</3DCityDB></b>.</tr></td>
	</table>
  </body>
</html>
